body {
    margin: 0;
    font-family: monospace;
    background-color: transparent;
    color: lime;
}

#phone-container {
    position: relative;
    width: 360px;
    height: 640px;
    margin: auto;
    top: 10%;
}

#phone-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#screen {
    position: absolute;
    top: 3%;
    left: 7%;
    width: 80%;
    height: 92%;
    background-color: black;
    z-index: 2;
    padding: 10px;
    color: lime;
    overflow: hidden;
    border-radius: 15px; /* Rundade hörn */
}

.screen-content {
    display: none;
}

.screen-content:not(.hidden) {
    display: block;
}

.green-text {
    color: lime;
    font-size: 1.2em;
}

.glitch {
    animation: glitch 0.5s infinite;
}

@keyframes glitch {
    0% { text-shadow: 2px 2px red; }
    50% { text-shadow: -2px -2px blue; }
    100% { text-shadow: 2px -2px green; }
}