body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: monospace, monospace;
    background: transparent;
}

#ui {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 700px;
    transform: translate(-50%, -50%);
    user-select: none;
    z-index: 99999;
}

#phone-frame {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

#phone-bg {
    position: absolute;
    top: 50px;
    left: 28px;
    width: 345px
;
height: 600px;
background: url('phone-bg.jpg') no-repeat center center;
background-size: cover;
z-index: -1;
border-radius: 20px;
}

#app {
position: absolute;
top: 60px;
left: 40px;
width: 320px;
height: 580px;
color: white;
background: rgba(0,0,0,0.7);
border-radius: 20px;
padding: 15px;
}

.screen-content {
display: none;
}

.screen-content.active {
display: block;
}

#progress-container {
width: 100%;
background: #333;
height: 20px;
border-radius: 10px;
margin-top: 20px;
}

#progress-bar {
height: 100%;
background: limegreen;
width: 0%;
border-radius: 10px;
transition: width 0.3s ease;
}

button {
margin-top: 10px;
padding: 10px;
background: limegreen;
border: none;
border-radius: 10px;
cursor: pointer;
}

input {
display: block;
margin-top: 10px;
padding: 10px;
width: 100%;
border-radius: 10px;
border: none;
}